<div clas="">
    <h1>Crear Departamentos</h1>

    <div class="col-6">
        <%= render 'form', departamento: @departamento, edificios: @edificios %>
    </div>
</div>
<%= link_to "Lista de departamentos", departamentos_path, class: "btn btn-secondary mt-5"%> 
